@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfd;
  --foreground: #0f172a;
}

.dark {
  --background: #030712;
  --foreground: #f8fafc;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--foreground);
  background: var(--background);
}


h1, h2, h3, h4 {
  font-family: var(--font-outfit), sans-serif;
}